body {
    padding-top: 1em;
}

button {
    min-width: 150px;
}

.container {
    max-width: 1400px;
}

#fretboard {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

#setup-fretboard {
    margin-bottom: 1.5em;
}
